<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Trips Show Page</h1>
        <%= trip.name %> <br>
        <%= trip.date %> <br>
        <br>
        <%= trip.thing1 %> <br>
        <%= trip.date1 %> <br>
        <%= trip.cost1 %> <br>
        <img src="<%= trip.picture1 %>"> <br>
        <br>
        <%= trip.thing2 %> <br>
        <%= trip.date2 %> <br>
        <%= trip.cost2 %> <br>
        <img src="<%= trip.picture2 %>"> <br>
        <br>
        <%= trip.thing3 %> <br>
        <%= trip.date3 %> <br>
        <%= trip.cost3 %> <br>
        <img src="<%= trip.picture3 %>"> <br>
        <br>
        <%= trip.thing4 %> <br>
        <%= trip.date4 %> <br>
        <%= trip.cost4 %> <br>
        <img src="<%= trip.picture4 %>"> <br>
        <br>
        <%= trip.thing5 %> <br>
        <%= trip.date5 %> <br>
        <%= trip.cost5 %> <br>
        <img src="<%= trip.picture5 %>"> <br>
        <br>
            <form action="/trips/<%=trip.id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>     
        <nav>
            <a href="/trips">Back to Trips Index</a>
        </nav>
    </body>
</html>
