<%- include('partials/header.ejs') %>
        
<link rel="stylesheet" href="/css/app-show.css"> 
<title> <%=trip.name%> </title>

    </head>
    <body>
        <h1 id="title"><%=trip.name%> (<%=trip.date%>) <br>
        <%=trip.description%></h1>
        <div class="text"><%=trip.thing1%></div> 
        <div class="text"><%=trip.date1%></div>
        <div class="text"><%=trip.duration1%></div>
        <div class="text"><%=trip.cost1%></div>
        <img src="<%=trip.picture1%>" class="picture">
        <br>
        <div class="text"><%=trip.thing2%></div>
        <div class="text"><%=trip.date2%></div>
        <div class="text"><%=trip.duration2%></div>
        <div class="text"><%=trip.cost2%></div>
        <img src="<%=trip.picture2%>" class="picture">
        <br>
        <div class="text"><%=trip.thing3%></div>
        <div class="text"><%=trip.date3%></div>
        <div class="text"><%=trip.duration3%></div>
        <div class="text"><%=trip.cost3%></div>
        <img src="<%=trip.picture3%>" class="picture">
        <br>
        <div class="text"><%=trip.thing4%></div>
        <div class="text"><%=trip.date4%></div>
        <div class="text"><%=trip.duration4%></div>
        <div class="text"><%=trip.cost4%></div>
        <img src="<%=trip.picture4%>" class="picture">
        <br>
        <div class="text"><%=trip.thing5%></div>
        <div class="text"><%=trip.date5%></div>
        <div class="text"><%=trip.duration5%></div>
        <div class="text"><%=trip.cost5%></div>
        <img src="<%=trip.picture5%>" class="picture">
        <br>
            <form action="/trips/<%=trip.id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>     
        <nav>
            <a href="/trips/<%=trip.id%>/edit">Edit</a> <br>
            <a href="/trips">Back to Trips Index</a>
        </nav>
    </body>

<%- include('partials/footer.ejs') %>
